<launch>
    <machine
        name="pharaoh"
        address="192.168.1.101"
        default="true"
        user="pharaoh"
    />
    <machine
        name="udacity"
        address="192.168.1.110"
        user="robond"
        env-loader="/home/pharaoh/catkin_workspace/devel/remote_env_loader.sh"
    />

	<rosparam command="load" file="$(find ros_cellphonerobot)/rosparam/profile.yaml"/>

    <node machine="pharaoh-desktop" pkg="ros_cellphonerobot" name="ultrasonic" type="ultrasonic.py"/>
    <node machine="pharaoh-desktop" pkg="ros_cellphonerobot" name="sensor_hub" type="sensor_hub.py"/>
    <node machine="pharaoh-desktop" pkg="ros_cellphonerobot" name="exe_server" type="exe_server.py" output="screen"/>
    <node machine="pharaoh-desktop" pkg="ros_cellphonerobot" name="execution" type="execution.py" output="screen"/>

	<group>
    	<machine name="udacity" address="udacity" default="true" />
    	<include file="$(find differential_drive)/launch/diff_drive.launch" />
    </group>
        
    <!--
    <include file="$(find cellphonerobot_nav_stack)/launch/cellphonerobot_nav.launch" />
    -->

    <!--
    Uncomment this line to start image classification node.
    <node pkg="ros_cellphonerobot" name="image_classify" type="image_classify.py" output="screen"/>
    -->
    <!--
     <node pkg="ros_cellphonerobot" name="key_publisher" type="key_publisher.py"/>
    --> 

</launch>